## Pricing analysis on NYC Airbnb Data
<p><img src="https://assets.datacamp.com/production/project_1230/img/nyc.jpg" alt="New York City skyline" width="400px">

### Data set come from the NYC Airbnb which "Datacamp" are provided the data set
1. airbnb_price.csv
2. airbnb_room_type.csv
3. airbnb_last_review.tsv
### About column in data set
1. airbnb_price.csv
* listing id: unique id
* price: price per night
* nbhood_full:name of borough and neighbourhood where the listing is located
2. airbnb_room_type.csv
* listing id: unique id
* description of the room
* room_type: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments
3. airbnb_last_review.tsv
* listing_id
* host_name: name of host 
* last_review: the date when the listing was last reviewed
### The purpose of our project are 
* clean data, join data and prep data to use in power bi

### 1. Import data

In [2]:
import pandas as pd
import numpy as np
# load airbnb_price.csv
prices = pd.read_csv("https://raw.githubusercontent.com/PongsaKorn2304/Project-data-analyst/main/Airbnb_project/airbnb_price.csv")
# load airbnb_room_type.xlsx
room_types = pd.read_csv("https://raw.githubusercontent.com/PongsaKorn2304/Project-data-analyst/main/Airbnb_project/airbnb_room_type.csv",encoding_errors= 'replace')
# load airbnb_last_review
reviews = pd.read_csv("https://raw.githubusercontent.com/PongsaKorn2304/Project-data-analyst/main/Airbnb_project/airbnb_last_review.tsv",sep = "\t")
print("size of price =",prices.shape)
print("size of roome_type =",room_types.shape)
print("size of reviews =",reviews.shape)
print("------------------------------------------------")

size of price = (25209, 3)
size of roome_type = (25209, 3)
size of reviews = (25209, 3)
------------------------------------------------

### 2. focus on prices data set check data type and value on each columns
#### After run code you will see
* should split column price and nbhood_full

In [3]:
print(prices.head())
print("------------------------------------------------")
print(prices.columns)
print("------------------------------------------------")

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown
------------------------------------------------
Index(['listing_id', 'price', 'nbhood_full'], dtype='object')
------------------------------------------------

In [4]:
# split price columns and nbhood_full
prices["price(dollars)"]=prices["price"].str.split(" ",expand=True)[0].astype("float")
prices["nbhood_borough"]=prices["nbhood_full"].str.split(",",expand=True)[0]
prices["nbhood_zone"]=prices["nbhood_full"].str.split(",",expand=True)[1]
prices = prices.drop(columns=['price','nbhood_full'])
print(prices.head())

   listing_id  price(dollars) nbhood_borough      nbhood_zone
0        2595           225.0      Manhattan          Midtown
1        3831            89.0       Brooklyn     Clinton Hill
2        5099           200.0      Manhattan      Murray Hill
3        5178            79.0      Manhattan   Hell's Kitchen
4        5238           150.0      Manhattan        Chinatown

In [5]:
# check unique value
print(prices.info())
print("------------------------------------------------")
print(prices['nbhood_borough'].unique())
print("------------------------------------------------")
print(prices['nbhood_zone'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   listing_id      25209 non-null  int64
 1   price(dollars)  25209 non-null  float64
 2   nbhood_borough  25209 non-null  object
 3   nbhood_zone     25209 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 787.9+ KB
None
------------------------------------------------
['Manhattan' 'Brooklyn' 'Queens' 'Staten Island' 'Bronx']
------------------------------------------------
[' Midtown' ' Clinton Hill' ' Murray Hill' " Hell's Kitchen" ' Chinatown'
 ' Upper West Side' ' South Slope' ' Williamsburg' ' Fort Greene'
 ' Chelsea' ' Crown Heights' ' Park Slope' ' Bedford-Stuyvesant'
 ' Windsor Terrace' ' Inwood' ' East Village' ' Harlem' ' Greenpoint'
 ' Bushwick' ' Lower East Side' ' Prospect-Lefferts Gardens'
 ' Long Island City' ' Kips Bay' ' SoHo' ' Upper East Side'
 ' Prospect Heights' ' East Harlem' ' Washington Heights' ' Woodside'
 ' Flatbush' ' Carroll Gardens' ' West Village' ' Flatlands' ' Sunnyside'
 ' Gowanus' ' St. George' ' Highbridge' ' Financial District' ' Ridgewood'
 ' Morningside Heights' ' Jamaica' ' Middle Village' ' Ditmars Steinway'
 ' Cobble Hill' ' Flatiron District' ' Roosevelt Island'
 ' Greenwich Village' ' East Flatbush' ' Tompkinsville' ' Astoria'
 ' Kensington' ' Eastchester' ' Little Italy' ' Kingsbridge'
 ' Brooklyn Heights' ' Two Bridges' ' Queens Village' ' Forest Hills'
 ' Boerum Hill' ' Nolita' ' Woodlawn' ' University Heights' ' Gramercy'
 ' Allerton' ' East New York' ' Theater District' ' Concourse Village'
 ' Bensonhurst' ' Tribeca' ' Shore Acres' ' Concourse' ' DUMBO'
 ' Elmhurst' ' Jackson Heights' ' Arrochar' ' Rego Park' ' Wakefield'
 ' Clifton' ' Bay Ridge' ' Graniteville' ' Spuyten Duyvil' ' Stapleton'
 ' Columbia St' ' Canarsie' ' Sunset Park' ' Civic Center'
 ' East Elmhurst' ' Brighton Beach' ' Morris Heights' ' Flushing'
 ' Gravesend' ' Cypress Hills' ' Tottenville' ' NoHo' ' Mariners Harbor'
 ' Concord' ' Borough Park' ' Bayside' ' Downtown Brooklyn' ' Fieldston'
 ' Kew Gardens' ' College Point' ' Mount Eden' ' Briarwood'
 ' Vinegar Hill' ' Glendale' ' Red Hook' ' Port Morris' ' Arverne'
 ' Mott Haven' ' St. Albans' ' Midwood' ' Sheepshead Bay' ' Maspeth'
 ' Williamsbridge' ' Woodhaven' ' Battery Park City' ' Co-op City'
 ' North Riverdale' ' Dyker Heights' ' Longwood' ' Richmond Hill'
 ' Sea Gate' ' Riverdale' ' Kew Gardens Hills' ' Ozone Park' ' Soundview'
 ' Bay Terrace' ' Norwood' ' Claremont Village' ' Brownsville'
 ' Eltingville' ' Rockaway Beach' ' Navy Yard' ' Mount Hope'
 ' Clason Point' ' Springfield Gardens' ' Belle Harbor' ' Jamaica Estates'
 ' Van Nest' ' Bellerose' ' Fresh Meadows' ' West Brighton' ' Corona'
 ' Bayswater' ' Great Kills' ' Manhattan Beach' ' Dongan Hills'
 ' Fort Hamilton' ' Stuyvesant Town' ' East Morrisania' ' Hunts Point'
 ' Neponsit' ' Pelham Bay' ' Randall Manor' ' City Island' ' Throgs Neck'
 ' Silver Lake' ' Laurelton' ' Holliswood' ' Pelham Gardens'
 ' Parkchester' ' Rosedale' ' Castleton Corners' ' Far Rockaway'
 ' Edgemere' ' New Brighton' ' Baychester' ' Bronxdale' ' Marble Hill'
 ' Melrose' ' Bergen Beach' ' Cambria Heights' ' Richmondtown'
 ' South Ozone Park' ' Tremont' ' Fordham' ' Howland Hook'
 ' Schuylerville' ' Coney Island' ' South Beach' ' Castle Hill'
 ' Morris Park' ' Bath Beach' ' Douglaston' ' Howard Beach' ' Huguenot'
 ' Whitestone' ' Edenwald' ' Grant City' ' Port Richmond' ' Emerson Hill'
 ' Midland Beach' ' Westchester Square' ' Little Neck' ' Rosebank'
 ' New Springville' ' Mill Basin' ' Belmont' ' Lighthouse Hill'
 ' Morrisania' ' Arden Heights' " Bull's Head" ' Olinville' ' Grymes Hill'
 ' Hollis' ' Unionport' ' Rossville' ' Breezy Point' ' Willowbrook'
 ' New Dorp Beach' ' Todt Hill' ' Oakwood' ' West Farms' ' Jamaica Hills'
 " Prince's Bay"]

In [6]:
# check missing value
prices.isna().sum()

listing_id        0
price(dollars)    0
nbhood_borough    0
nbhood_zone       0
dtype: int64

## 3. focus on airbnb room_type
#### After run code you will see
* check unique and missing value

In [7]:
print(room_types.head())
print("------------------------------------------------")
print(room_types.columns)
print("------------------------------------------------")

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
------------------------------------------------
Index(['listing_id', 'description', 'room_type'], dtype='object')
------------------------------------------------

In [8]:
# change value in room_type to lower case
room_types['room_type'].unique()

array(['Entire home/apt', 'private room', 'Private room',
       'entire home/apt', 'PRIVATE ROOM', 'shared room',
       'ENTIRE HOME/APT', 'Shared room', 'SHARED ROOM'], dtype=object)

In [9]:
room_types['room_type'] = room_types['room_type'].str.lower()
room_types['room_type'].unique()

array(['entire home/apt', 'private room', 'shared room'], dtype=object)

In [10]:
# check missing value
room_types.isna().sum()

listing_id     0
description    0
room_type      0
dtype: int64

## 4. focus on airbnb_last_review
#### After run code you will see
* check data type on columns date

In [11]:
print(reviews.head())
print("------------------------------------------------")
print(reviews.columns)
print("------------------------------------------------")

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019
------------------------------------------------
Index(['listing_id', 'host_name', 'last_review'], dtype='object')
------------------------------------------------

In [12]:
# check last review columns
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [13]:
# chang last review columns data type to date
reviews["last_review"] = pd.to_datetime(reviews["last_review"], format="%B %d %Y")
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 591.0+ KB

### 5. check primary key of the 3 tables and Join 3 table
After checking 3 table join by one to one relationship so join 3 table to one table

In [14]:
# check on primary key of three table
price_id = prices['listing_id']
review_id = reviews['listing_id']
room_type_id = room_types['listing_id']
z = price_id&review_id&room_type_id
print("price_id  = ",price_id .shape)
print("review_id = ",review_id.shape)
print("room_type_id = ",room_type_id.shape)

print("3 set intercept =",z.shape)
print("3 table joint by one to one relation ship")

price_id  =  (25209,)
review_id =  (25209,)
room_type_id =  (25209,)
3 set intercept = (25209,)
3 table joint by one to one relation ship

In [15]:
# join 3 table into one table
table1 = pd.merge(prices,reviews,on="listing_id")
full_airbnb_table = pd.merge(table1,room_types,on="listing_id")
full_airbnb_table.head()
full_airbnb_table.shape

(25209, 8)

In [17]:
full_airbnb_table.isna().sum()

listing_id        0
price(dollars)    0
nbhood_borough    0
nbhood_zone       0
host_name         8
last_review       0
description       0
room_type         0
dtype: int64

## 6. save and download full table

In [19]:
# save file to csv
full_airbnb_table.to_csv("full_clean_airbnb_table.csv",index = False)